body {
	padding-top: 60px;
}
.code-toolbar {
	margin : 8px;
}

#mod {
	margin-right: 5px;
	font-weight: bold;
}
.htmlInput .CodeMirror{
	height : 200px;
}
.CodeMirror {
	position: relative;
	border:solid 2px #f8f8f8;
	margin-bottom : 10px;
	border-radius: 10px;
}
.CodeMirror:before {
	content : "html";
	display: block;
	position: absolute;
	top:0;
	left:100%;
	z-index: 999;
	color: #fff;
	width : 50px;
	margin-left:-50px;
	padding : 5px 0;
	text-align: center;
	/*font-style: italic;*/
	font-weight: bold;
	font-size: 16px;
	/*opacity : .6;*/
}
.htmlInput .CodeMirror:before {
	content : "Html";
}
.jsInput .CodeMirror:before {
	content : "JS";
}
#render {
	border-width : 0;
	width : 100%;
	height : 350px;
}