
#__show {
	margin : 5px 10px;
}
#__logs {
	margin : 5px 10px;
	font-size : 10px;
}
#__logs li {
	margin : 5px;
	padding : 5px;
}
#__logs p {
	margin : 0;
}
#__logs li.success {
	background-color: #a6e22e;
}
#__logs li.fail {
	background-color: #f92672;
}