    <div class="apidocs">
        <div id="docs-main" class="content">
            {{#if projectDescription}}
                {{{projectDescription}}}
            {{else}}
                <h2>{{{projectName}}}</h2>
            <ul>
                <li><p>Please type keyword to search api in SearchBox on the top navbar.</p></li>
                <li><p>Please click the Left Nav to view the detail.</p></li>
                <li><p>Using the filter box to search modules and classes</p></li>
                <li><p>In Example Panel,Click the [view domo] button will popup demo page and click [edit code] then you will eidt the example code online</p></li>
            </ul>
            {{/if}}
        </div>
    </div>


