    <div class="apidocs">
        <div id="docs-main" class="content">
            {{#if projectDescription}}
                {{{projectDescription}}}
            {{else}}
                <h2>SmartDoc</h2>

            <ul>
                <li><p>请点击左侧的modules或者classes查看详细说明.</p></li>
                <li><p>点击 <kbd>s</kbd> 键,定位到API查询框.</p></li>
                <li><p>使用 <kbd>Up</kbd> 和 <kbd>Down</kbd> 键选择modules、classes和查询结果.</p></li>

            </ul>
            {{/if}}
        </div>
    </div>


