    <div class="apidocs">
        <div id="docs-main" class="content">
            {{#if projectDescription}}
                {{{projectDescription}}}
            {{else}}
                <h2>SmartDoc</h2>

            <ul>
                <li><p>Please click the Left Nav to view the detail.</p></li>
                <li><p>Using the filter box to search modules and classes</p></li>
                <li><p>Click the "run domo" button on the example panel, it will be popup  demo page.</p></li>

            </ul>
            {{/if}}
        </div>
    </div>


