body.yui3-smart {
    padding: 50px 0;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
body.yui3-smart .mainlogo {
    padding: 8px 15px;
}
div.filterAPi {
    margin-right: 0 !important;
    position: relative;
    padding: 0;
}
#filterList {
    right: 15px;
    min-width: 196px;
}
#filterList em {
    color: #428bca;
}
#filterList .active em {
    color: #fff;
}
.hide {
    display: none;
}
#gotoTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 16px;
    border-color: #5bc0de;
    border-bottom-width: 5px;
    padding: 2px 10px;
    text-align: center;
    color: #5bc0de;
}
#gotoTop:hover {
    text-decoration: none;
    border-color: #5cb85c;
    color: #5cb85c;
}
#gotoTop:before {
    content: "\e113";
    display: block;
    font-family: 'Glyphicons Halflings';
}
.stdoc-left {} .stdoc-content {
    margin-left: 260px;
    padding:0 30px;
}
#txtSearch {
    width: 240px;
}
#sidebar_list {
    overflow-y: auto;
    overflow-x: hidden;
    width:249px;
    margin-top:10px;
}
#sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 260px;
    padding-left:10px;
    background-color: #fafafa;
    border-right: solid 1px rgba(0,0,0,0.07);
}
#sidebar .glyphicon {
    font-size: 12px;
    cursor: pointer;
    color: #2a6496;
    padding: 0 1px;
}
#sidebar .glyphicon:hover {
    font-size: 14px;
    padding: 0;
}
#sidebar dt {
    margin-top: 5px;
}
#sidebar ul {
    padding-left: 20px;
}
#sidebar li {
    display: block;
    margin-top: 7px;
}
#sidebar a:hover, #sidebar .active {
    color: #c7254e;
}
.example-content {
    margin-bottom: 10px;
    padding:0 20px;
}
.yui3-smart .sign-left1 {
    border-left: 5px #d9534f solid;
}
.yui3-smart .sign-left2 {
    border-left: 5px #f0ad4e solid;
}
.yui3-smart .sign-left3 {
    border-left: 5px #5bc0de solid;
}
.yui3-smart p {
    line-height: 28px;
    margin: 0;
}
.yui3-smart .well {
    padding: 5px 15px;
}
#src_code li.active:before {
    display: block;
    width: 30px;
    height: 10px;
    content: '';
    background-color: #a6e22e;
    position: absolute;
    z-index: 1;
    left: 298px;
}
.tab-pane .classDetail {
    margin-top: 20px;
}
.apidocs {
    zoom: 1;
}
/* Generic box styles. */

.apidocs .box {
    border: 1px solid;
    border-radius: 3px;
    margin: 1em 0;
    padding: 0 1em;
}
/* A flag is a compact, capsule-like indicator of some kind. It's used to
   indicate private and protected items, item return types, etc. in an
   attractive and unobtrusive way. */

.apidocs .flag {
    background: #bababa;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    margin: 0 0.5em;
    padding: 2px 4px 1px;
}
/* Class/module metadata such as "Uses", "Extends", "Defined in", etc. */

.apidocs .meta {
    background: #f9f9f9;
    border-color: #efefef;
    color: #555;
    font-size: 11px;
    padding: 3px 6px;
}
.apidocs .meta p {
    margin: 0;
}
/* Deprecation warning. */

.apidocs .box.deprecated, .apidocs .flag.deprecated {
    background: #fdac9f;
    border: 1px solid #fd7775;
}
.apidocs .box.deprecated p {
    margin: 0.5em 0;
}
.apidocs .flag.deprecated {
    color: #333;
}
/* Module/Class intro description. */

.apidocs .intro {
    background: #f0f1f8;
    border-color: #d4d8eb;
}
/* Loading spinners. */

#bd.loading .apidocs, #api-list.loading .yui3-tabview-panel {
    background: #fff url(../img/spinner.gif) no-repeat center 70px;
    min-height: 150px;
}
#bd.loading .apidocs .content, #api-list.loading .yui3-tabview-panel .apis {
    display: none;
}
.apidocs .no-visible-items {
    color: #666;
}
/* Generic inline list. */

.apidocs ul.inline {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
.apidocs ul.inline li {
    display: inline;
}
/* Comma-separated list. */

.apidocs ul.commas li:after {
    content: ',';
}
.apidocs ul.commas li:last-child:after {
    content: '';
}
/* Keyboard shortcuts. */

kbd .cmd {
    font-family: Monaco, Helvetica;
}
/* -- Generic Access Level styles ------------------------------------------- */

.apidocs .item.protected, .apidocs .item.private, .apidocs .index-item.protected, .apidocs .index-item.deprecated, .apidocs .index-item.private {
    display: none;
}
.show-deprecated .item.deprecated, .show-deprecated .index-item.deprecated, .show-protected .item.protected, .show-protected .index-item.protected, .show-private .item.private, .show-private .index-item.private {
    display: block;
}
.hide-inherited .item.inherited, .hide-inherited .index-item.inherited {
    display: none;
}
/* -- Generic Item Index styles --------------------------------------------- */

.apidocs .index {
    margin: 1.5em 0 3em;
}
.apidocs .index h3 {
    border-bottom: 1px solid #efefef;
    color: #333;
    font-size: 13px;
    margin: 2em 0 0.6em;
    padding-bottom: 2px;
}
.apidocs .index .no-visible-items {
    margin-top: 2em;
}
.apidocs .index-list {
    border-color: #efefef;
    font-size: 16px;
    list-style: none;
    margin: 5px 0;
    padding: 0;
/*    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -moz-column-width: 170px;
    -ms-column-count: 4;
    -ms-column-gap: 10px;
    -ms-column-width: 170px;
    -o-column-count: 4;
    -o-column-gap: 10px;
    -o-column-width: 170px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -webkit-column-width: 170px;
    column-count: 4;
    column-gap: 10px;
    column-width: 170px;*/
}
.apidocs .no-columns .index-list {
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}
.apidocs .index-item {
    white-space: nowrap;
    display: inline-block;
    margin:3px 10px;
}
.apidocs .index-item .flag {
    background: none;
    border: none;
    color: #afafaf;
    display: inline;
    margin: 0 0 0 0.2em;
    padding: 0;
}
/* -- Generic API item styles ----------------------------------------------- */

.apidocs .args {
    display: inline;
    margin: 0 0.5em;
}
.apidocs .flag.chainable {
    background: #46ca3b;
}
.apidocs .flag.protected {
    background: #9b86fc;
}
.apidocs .flag.private {
    background: #fd6b1b;
}
.apidocs .flag.async {
    background: #356de4;
}
.apidocs .flag.required {
    background: #e60923;
}
.apidocs .item {
    padding-bottom: 10px;
    margin: 20px 0 15px;
}
.apidocs .method.item {
    padding: 0 20px 10px;
}
.apidocs .item h4, .apidocs .item h5, .apidocs .item h6 {
    color: #333;
    font-family: inherit;
    font-size: 100%;
}
.apidocs .item h4 {
    font-weight: bold;
}
.apidocs .item .meta {
    background: none;
    border: none;
    padding: 10px 0;
}
.apidocs .item .name {
    font-size: 24px;
    border-bottom: 1px solid #efefef;
    margin: 5px 0 10px -15px;
    padding-bottom: 10px;
}
.apidocs .item .type, .apidocs .item .type a, .apidocs .returns-inline {
    color: #555;
}
.apidocs .item .type, .apidocs .returns-inline {
    font-size: 11px;
    margin: 0 0 0 5px;
}
.apidocs .item .type a {
    border-bottom: 1px dotted #afafaf;
}
.apidocs .item .type a:hover {
    border: none;
}
/* -- Item Parameter List --------------------------------------------------- */

.apidocs .params-list {
    list-style: square;
    margin: 1em 0 0 2em;
    padding: 0;
}
.apidocs .param .param-description {
    padding-top: 2px;
}
.apidocs .param {
    margin-bottom: 1em;
}
.apidocs .param .type, .apidocs .param .type a {
    color: #666;
}
.apidocs .param .type {
    margin: 0 0 0 0.5em;
    *margin-left: 0.5em;
}
.apidocs .param-name {
    font-weight: bold;
}
/* -- Item "Emits" block ---------------------------------------------------- */

.apidocs .item .emits {
    background: #f9f9f9;
    border-color: #eaeaea;
}
/* -- Item "Returns" block -------------------------------------------------- */

.apidocs .item .returns .type, .apidocs .item .returns .type a {
    font-size: 100%;
    margin: 0;
    color: #d44950;
}
/* -- Class Constructor block ----------------------------------------------- */

.apidocs .constructor .item {
    border: none;
    padding-bottom: 0;
}
.apidocs .constructor {
    padding-bottom: 10px;
}
/* -- File Source View ------------------------------------------------------ */

.apidocs .file pre.code, #doc .apidocs .file pre.prettyprint {
    background: inherit;
    border: none;
    overflow: visible;
    padding: 0;
}
.apidocs .L0, .apidocs .L1, .apidocs .L2, .apidocs .L3, .apidocs .L4, .apidocs .L5, .apidocs .L6, .apidocs .L7, .apidocs .L8, .apidocs .L9 {
    background: inherit;
}
/* -- Submodule List -------------------------------------------------------- */

.apidocs .module-submodule-description {
    font-size: 12px;
    margin: 0.3em 0 1em;
}
.apidocs .module-submodule-description p:first-child {
    margin-top: 0;
}
/* -- Source File Contents -------------------------------------------------- */

.prettyprint li.L0, .prettyprint li.L1, .prettyprint li.L2, .prettyprint li.L3, .prettyprint li.L5, .prettyprint li.L6, .prettyprint li.L7, .prettyprint li.L8 {
    list-style: decimal;
}
.prettyprint .com {
    color: #008000;
}
.prettyprint .kwd {
    color: #0000ff;
}
/* -- API options ----------------------------------------------------------- */

#api-options {
    font-size: 11px;
    margin-top: 2.2em;
    position: absolute;
    right: 1.5em;
}
/*#api-options label { margin-right: 0.6em; }*/
/* -- API list -------------------------------------------------------------- */

#api-list {
    margin-top: 1.5em;
    *zoom: 1;
}
.apis {
    font-size: 12px;
    line-height: 1.4;
    list-style: none;
    margin: 0;
    padding: 0.5em 0 0.5em 0.4em;
}
.apis a {
    border: 1px solid transparent;
    display: block;
    margin: 0 0 0 -4px;
    padding: 1px 4px 0;
    text-decoration: none;
    _border: none;
    _display: inline;
}
.apis a:hover, .apis a:focus {
    background: #E8EDFC;
    background: -moz-linear-gradient(top, #e8edfc 0%, #becef7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8EDFC), color-stop(100%, #BECEF7));
    border-color: #AAC0FA;
    border-radius: 3px;
    color: #333;
    outline: none;
}
.api-list-item a:hover, .api-list-item a:focus {
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}
.apis .message {
    color: #888;
}
.apis .result a {
    padding: 3px 5px 2px;
}
.apis .result .type {
    right: 4px;
    top: 7px;
}
.api-list-item .yui3-highlight {
    font-weight: bold;
}
.form-inline label {
    line-height: 20px;
}
.args-list .arg {
    padding: 0;
}
.constructor .description {
    display: none;
}
.returns-description {
    padding-left: 20px;
}
.index-section h3 {
    border-bottom: solid 1px rgba(0,0,0,0.07);
    margin-top:10px;
    padding-bottom: 5px;
}
.nav.example-list {
    margin:10px;
}
.nav.example-list a {
    cursor:pointer !important;
}
.example-show {
    border:solid 1px #ddd;
    border-radius: 3px;
    width:100%;
    height:50px;
    max-height: 300px;
    background: url(loading.gif) no-repeat center center;
}
.example-show.demo-loaded  {
    background: none;
}
.btn-viewDemo,.btn-editDemo {
    margin-left:20px;
}
.example-content .stdoc-code {
    display: none;
}
.example-content .stdoc-code.active {
    display: block;
}