<!doctype html>
<html>

<head>
    <title>Smart Demo Show</title>
    <meta charset="utf-8" />
    <LINK href="favicon.png" type="image/x-icon" rel=icon> 
    <link rel="stylesheet" href="css/showDemo.css">
    {{#css}}
        <link rel="stylesheet" href="{{.}}">
    {{/css}}
</head>

<body>

    <div id='__show'>
        
    </div>

    <ol id='__logs'>
        
    </ol>

</body>
<script src="js/demo.js"></script>
{{#script}}
    <script src="{{.}}"></script>
{{/script}}
</html>
